$medium: 600px;

.container_detailCountry {
  // border: 1px solid green;
  padding: 30px;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 50px;

  .imgDetailCountry {
    // border: 1px solid blue;
    width: 450px;
    height: 300px;
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 8px;
    @media screen and (max-width: $medium) {
      width: 100%;
      height: 100%;
    }
  }

  .container_text {
    // border: 1px solid salmon;
    gap: 50px;
    display: flex;
    flex-direction: column;
    width: auto;

    .descCountry {
      display: flex;
      flex-wrap: wrap;
      // justify-content: space-between;
      gap: 10px;
    }

    //

    .box_border {
      display: inline-flex;
      align-items: center;
      justify-content: start;
      flex-wrap: wrap;
      gap: 10px;
      width: 90%;
      .border {
        display: inline-flex;
        flex-wrap: wrap;
        padding: 1px 20px 1px 20px;
        border-radius: 3px;
        width: auto;
      }
    }
  }

  .language {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    gap: 3px;

    .span_languange {
      width: 90%;
    }
  }
}
.backBtn {
  padding: 30px;
  width: auto;
  align-items: center;
  display: flex;
  text-decoration: none;

  .btn {
    padding: 5px 15px 5px 15px;
    gap: 10px;
    justify-content: center;
    text-decoration: none;
  }
}
