$medium: 600px;

.container_utils {
  padding: 20px 0px 20px 0px;
  // }
  .util_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px 50px 10px 50px;

    .input_search {
      border: none;
      border-radius: 5px;
      width: 350px;
    }

    .selectFilter {
      width: 250px;
      @media screen and (max-width: $medium) {
        min-width: 160px;
        width: 100%;
      }
    }

    .box_filter_asc {
      display: flex;
      gap: 20px;
      padding: 10px;
      justify-content: space-between;
      align-items: center;
    }
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}

.container_card {
  display: flex;
  gap: 80px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;

  .Card_contry {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .card_body {
      h4 {
        padding: 15px 0px 15px 0px;
      }
    }
  }

  .Card_contry:hover {
    transform: translateY(-3px) scale(1.1) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
      0 24px 46px var(--box-shadow-color);
  }
}
