.Navbar {
  display: flex;
  padding: 20px 40px 20px 40px;
  justify-content: space-evenly;

  h1 {
    font-size: 2px;
  }
  .logo {
    @media screen and (max-width: 500px) {
      h1 {
        font-size: 24px;
      }
    }
  }
}
