.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../assets/images/bg-stars.svg"), #201f2a;
  background-size: cover;
  background-position: center;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {
    background-position: center left;
  }
}
