.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-weight: 700;
}

.header {
  /* border: 1px solid red; */
  width: auto;
  height: 30%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.header h1 {
  font-size: 20px;
  letter-spacing: 5px;
  font-weight: 700;
}

/* =========== */

.coutDown-box {
  /* border: 1px solid salmon; */
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.container-item {
  /* border: 1px solid green; */
  width: 80%;
  height: 80%;
  align-items: center;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  gap: 5px;
}

.days,
.hours,
.minutes,
.seconds {
  align-items: center;
  display: flex;
  width: 20%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid gold; */
  gap: 10px;
}

.box-days,
.box-hours,
.box-minutes,
.box-seconds {
  width: 60%;
  height: 50%;
  background-color: #35374f;
  box-shadow: 0px 10px 0px 0px rgba(27, 26, 36, 0.75);
  -webkit-box-shadow: 0px 10px 0px 0px rgba(27, 26, 36, 0.75);
  -moz-box-shadow: 0px 10px 0px 0px rgba(27, 26, 36, 0.75);
  border-radius: 10px;
  /* border: 1px solid mediumspringgreen; */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-days,
.text-hours,
.text-minutes,
.text-seconds {
  color: #79758b;
  font-weight: 700;
  letter-spacing: 3px;
}

span {
  color: #ffecec;
  font-size: 60px;
  z-index: 4;
  position: absolute;
  color: #fff;
  text-shadow: 0 0 5px #ffbbce, 0 3px 7px #ff5a8a, 0 0px 15px #f55482;
}

/* .top {
  background-color: #2d2c4596;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.26);
  height: 100%;
  width: 100%;
  z-index: 5;
} */

.bottom {
  background-color: #35374f;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* ============ */

.medsos {
  display: flex;
  gap: 40px;
}

.footer {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background: url("../assets/images/pattern-hills.svg");
}

.moon {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 0;
  top: 30%;
  -webkit-animation: linear infinite alternate;
  -webkit-animation-name: moon;
  -webkit-animation-duration: 15s;
}

@keyframes moon {
  0% {
    left: -10%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 110%;
  }
}

@media only screen and (max-width: 600px) {
  .moon {
    display: none;
  }

  .header h1 {
    letter-spacing: 1px;
  }

  .container-item {
    width: auto;
    height: auto;
  }

  .days,
  .hours,
  .minutes,
  .seconds {
    width: 100%;
    height: 100%;
    gap: 5px;
  }

  .box-days,
  .box-hours,
  .box-minutes,
  .box-seconds {
    width: 70px;
    height: 60px;
  }

  .text-days,
  .text-hours,
  .text-minutes,
  .text-seconds {
    color: #79758b;
    font-weight: 500;
    font-size: 10px;
    /* letter-spacing: 2px; */
  }

  span {
    color: #ffecec;
    font-size: 25px;
    z-index: 4;
    position: absolute;

    text-shadow: 0 0 5px #ffbbce, 0 3px 7px #ff5a8a, 0 0px 15px #f55482;
  }

  /* .top {
    background-color: #2d2c4596;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.26);
    height: 100%;
    width: 100%;
    z-index: 5;
  } */

  .bottom {
    background-color: #35374f;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .footer {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    background-position: center center center;
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: center;
    background: url("../assets/images/pattern-hills.svg");
  }
}
