@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Red Hat Text", sans-serif;
  /* background: ; */
  overflow-x: hidden;
}
