// main scss
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#1f3455, #161d39);
}

.container {
    display: flex;
    flex-direction: column;
    width: 80vh;
    // align-items: center;
}