.Header {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 15px;
    width: 100%;
    border: 2.5px solid grey;
    border-radius: 12px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid salmon;
}

.score-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px 35px 10px 35px;
}

.score-text {
    color: #363d79;
    font-weight: 400;
    font-size: 24px;
}

.score {
    color: #565467;
    font-weight: 800;
    font-size: 40px;
}